*{
    margin: 0%;
    padding: 0%;

}
body,html{
    height: 100%;
    width :100%

}
body{
    background-color: rgb(137, 137, 137);
    
}
div{
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1{
    background-color: aquamarine;
}
#box2{
    background-color: rgb(157, 12, 12);
}
#box3{
    background-color: rgb(244, 20, 222);
}
main{
    display: flex;
}