*{
    margin: 0%;
    padding: 0%;

}
html,body{
    height: 100%;
    width: 100%;

}
body{
    background-color: rgb(122, 122, 122);
}
div{
    display: flex;
    align-items: center;
    justify-content: center;
}

#box1{
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    border-style: dashed;
    /* border_radius is used for curve around shape and width is used to increase the border  */
    border-width: 10px;
    /* border-radius: 10px; */
    /* if border-radius is 50% result in circle */
    border-radius: 50%;
}
#box2{
    background-color: crimson;
    height: 20%;
    width: 20%;
    /* border_radius is used for curve around shape and width is used to increase the border  */
    border-style: double;
    border-radius: 10px;
}