*{
    margin: 0%; 
    padding: 0%;

}
/* html,body{
    width: 100% ;
  

} */




h1{
    background-color: black;
    color: aqua;
    /* width: 100%; */
    width: 50%;
    text-align: center;
    /* margin: 0%; */
    height: 50%;
}