h1{
    color: chocolate;
    background-color: black;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: antiquewhite;

}
p{
    color: black;
}