*{
    margin: 0%;
    padding: 0%;
}
body,html{
    height: 100%;
    width: 100%;

}

.colorfont{
    color:rgb(62, 121, 172);
    background-color: bisque;
    font-weight: bold;

}
h2{
    background-color: black;
    color: aliceblue;
    margin: 20px;
    padding: 20px;
}