*{
    margin: 0%;
    padding: 0%;
}
body,html{
    height: 100%;
    width: 100%;

}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(120, 120, 120);
    display: flex;
    align-items: center;
    justify-content: center;
}

.shape{
    height :200px;
    width: 200px;
    background-color: rgb(255, 255, 255);
    border: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#box3{
    border-radius: 50%;

}
#box2{
    rotate: 45deg;
    margin-top: 40px;
}
#box1:hover{
    background-color: rgb(255, 23, 23);
    
}
#box2:hover{
    background-color: rgb(206, 170, 26);
    
}
#box3:hover{
    background-color: rgb(184, 58, 140);
    
}
h1{
    font-family: Arial, Helvetica, sans-serif;
}

#box2 h1{
    rotate: -45deg;
}

#text1{
    color: black;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 10px;
    background-color: cornsilk;
}
/* #para{ */
    /* height: 20%;
    width: 30%; */

    /* background-color: rgb(133, 133, 133);
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5 px;
    border-radius: 5px;
} */